<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="bg-gray-800">
        <div class="container mx-auto px-4">
          <div class="py-4 flex justify-center">
            <a href="/" class="text-white text-xl font-bold">User App</a>
          </div>
        </div>
      </div>
    </header>
    <main class="container justify-center mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
